body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

/* LOGIN */
.login {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  text-align: center;
}

.login input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.login button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
}

/* TOP BAR */
.top-bar {
  text-align: center;
  margin-top: 20px;
}

.top-bar button {
  margin-top: 10px;
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}

/* ADD MENU FORM */
#addMenuForm {
  display: none;
  text-align: center;
  margin-top: 10px;
}

#addMenuForm input {
  padding: 8px;
  margin: 5px;
}

/* GRID */
.grid {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  background: green;
  color: white;
  border: none;
}